wheel
tqdm
lightning
black
ruff
hydra-core
jaxtyping
beartype
wandb
einops
colorama
scikit-image
colorspacious
matplotlib
moviepy
imageio
timm
dacite
lpips
e3nn
plyfile
tabulate
svg.py
scikit-video
opencv-python
seaborn>=0.11.2
git+https://github.com/deepmind/dmvr.git
absl-py
flax
immutabledict
jax
ml_collections
optax
clu