wheel
tqdm
lightning
black
ruff
hydra-core
jaxtyping
beartype
wandb
einops
colorama
scikit-image
colorspacious
matplotlib
moviepy
imageio
timm
dacite
lpips
e3nn
plyfile
tabulate
svg.py
scikit-video
opencv-python
seaborn>=0.11.2
absl-py
flax
immutabledict
jax
basicsr
ml_collections
optax
clu
xformers==0.0.20
apex
av==11.0.0
decord==0.6.0
deepspeed==0.13.1
ftfy==6.1.3
fvcore==0.1.5.post20221221
imageio==2.33.1
lm_eval==0.4.1
omegaconf==2.3.0
open3d
visu3d==1.5.3
etils==1.5.2